{% extends "base.html" %}

{% block title %}
Password Changed | PetCare Portal
{% endblock %}


{% block content %}

<section class="password-reset-page">

    <div class="container">

        <div class="password-reset-card reveal">


            <div class="password-reset-icon success">
                <i class="fa-solid fa-check"></i>
            </div>


            <span class="page-kicker">
                Password updated
            </span>


            <h1>
                Your password has been reset
            </h1>


            <p class="password-reset-description">
                Your new password has been saved successfully.
                You can now sign in to PetCare Portal using it.
            </p>


            <a
                href="{% url 'login' %}"
                class="pet-btn pet-btn-primary password-reset-submit"
            >
                <i class="fa-solid fa-right-to-bracket"></i>
                Sign in
            </a>

        </div>

    </div>

</section>

{% endblock %}