{% extends "base.html" %}

{% block title %}
Check Your Email | PetCare Portal
{% endblock %}


{% block content %}

<section class="password-reset-page">

    <div class="container">

        <div class="password-reset-card reveal">


            <div class="password-reset-icon success">
                <i class="fa-regular fa-envelope"></i>
            </div>


            <span class="page-kicker">
                Reset link requested
            </span>


            <h1>
                Check your email
            </h1>


            <p class="password-reset-description">
                If an account exists with the email address you
                entered, we have sent a password reset link to it.
            </p>


            <div class="password-reset-info">

                <i class="fa-solid fa-circle-info"></i>

                <p>
                    The reset link is temporary. If you cannot
                    find the email, check your spam or junk folder.
                </p>

            </div>


            <a
                href="{% url 'login' %}"
                class="pet-btn pet-btn-primary password-reset-submit"
            >
                <i class="fa-solid fa-arrow-left"></i>
                Return to login
            </a>

        </div>

    </div>

</section>

{% endblock %}