{% extends "base.html" %}

{% block title %}
Forgot Password | PetCare Portal
{% endblock %}


{% block content %}

<section class="password-reset-page">

    <div class="container">

        <div class="password-reset-card reveal">


            <div class="password-reset-icon">
                <i class="fa-solid fa-key"></i>
            </div>


            <span class="page-kicker">
                Account recovery
            </span>


            <h1>
                Forgot your password?
            </h1>


            <p class="password-reset-description">
                Enter the email address associated with your
                PetCare Portal account. We will send you a secure
                link to create a new password.
            </p>


            <form method="post" class="password-reset-form">

                {% csrf_token %}


                {% if form.non_field_errors %}

                    <div class="auth-form-errors">

                        {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                        {% endfor %}

                    </div>

                {% endif %}


                <div class="pet-form-group">

                    <label for="{{ form.email.id_for_label }}">
                        Email address
                    </label>

                    {{ form.email }}


                    {% if form.email.errors %}

                        <div class="pet-field-errors">

                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}

                        </div>

                    {% endif %}

                </div>


                <button
                    type="submit"
                    class="pet-btn pet-btn-primary password-reset-submit"
                >
                    <i class="fa-regular fa-envelope"></i>
                    Send reset link
                </button>

            </form>


            <div class="password-reset-back">

                <a href="{% url 'login' %}">
                    <i class="fa-solid fa-arrow-left"></i>
                    Back to login
                </a>

            </div>

        </div>

    </div>

</section>

{% endblock %}